@model ML.Supplier
@using ReportViewerForMvc;
@{
    ViewBag.Title = "GetAllSuppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h3 class="text-center">Suppliers</h3>
        <hr />
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
        <br />
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                @if(Model.Suppliers != null)
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>SupplierID</th>
                                <th>CompanyName</th>
                                <th>ContactName</th>
                                <th>ContactTitle</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Region</th>
                                <th>PostalCode</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>Fax</th>
                                <th>HomePage</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(ML.Supplier supplier in Model.Suppliers)
                            {
                                <tr>
                                    <td>@supplier.SupplierID</td>
                                    <td>@supplier.CompanyName</td>
                                    <td>@supplier.ContactName</td>
                                    <td>@supplier.ContactTitle</td>
                                    <td>@supplier.Address</td>
                                    <td>@supplier.City</td>
                                    <td>@supplier.Region</td>
                                    <td>@supplier.PostalCode</td>
                                    <td>@supplier.Country</td>
                                    <td>@supplier.Phone</td>
                                    <td>@supplier.Fax</td>
                                    <td>@supplier.HomePage</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.MensajeError
                    </div>
                }
            </div>
        </div>
    </div>

</div>

